<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>

    <ion-title>Pickup call</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
 <img src="http://s.glbimg.com/po/tt/f/original/2012/09/19/googlemaps.jpg" alt="">
 <ion-card>
  <ion-card-content>
    <p>Address: fake street,1200</p>
    <p>Complement: Aptp 222</p>
    <p>Neighborhood: neighborhood</p>
    <p>Zip Code: 1234566</p>
    <p>City name - state</p>
  </ion-card-content>
 </ion-card>
 <ion-list lines="inset">
 <ion-item>
  <ion-label position="floating"> Notes </ion-label>
  <ion-textarea></ion-textarea>
 </ion-item>
 </ion-list>
  <ion-button size="full" color="success">Create Pickup call</ion-button>
</ion-content>
