<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-menu-button ></ion-menu-button>
       <!-- <ion-back-button></ion-back-button> -->
    </ion-buttons>
    <ion-title>Recycle App</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <ion-list color="success">
    <ion-item color="success">
    <ion-avatar slot="start">
      <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
    </ion-avatar>
    <ion-label>
     <h1>Brad pitt</h1>
     <p>Gathered: <span class="money">$ 25,00</span></p>
    </ion-label>
  </ion-item>
  </ion-list>
  <app-pickup-call-card
  [hasHeader]="true"
  [createdAt]="'21/03/2023'"
  [updatedAt]="'22/03/2023 15:30:00'"
  [notes]="'we have two bags that are full, one plastic and the other one with glasses'"
  [status]="'On hold'">
  <ion-card-header  header>
    <ion-card-subtitle>Last pick up call</ion-card-subtitle>
  </ion-card-header>
  <ion-button  color="success" fill="clear" size="full" footer (click)="goToPickupCalls()">See All...</ion-button>
  </app-pickup-call-card>

    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button color="success">
        <ion-icon name="add" (click)="newPickUpCall()"></ion-icon>
      </ion-fab-button>
    </ion-fab>
</ion-content>
